/* Myanmar Square  */
@font-face {
  font-family: "MyanmarSquare";
  src: url("/assets/fonts/MyanmarSquare.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyanmarSquare";
  src: url("/assets/fonts/MyanmarSquareLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Apply global font style */
* {
  font-family: "MyanmarSquare", "Oswald", sans-serif;
}
